.preload * {
	transition: none !important;
}

* {
	transition: 0.5s;
	font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

nav{
    display:inline;
    float:right;
	width: 58%;
	margin-top: 50px;
	margin-bottom: -15px;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
	margin: 0px;
}
nav ul li, footer ul li{
    display: block;
	float: left;
}
nav ul li:hover, footer ul li:hover, nav ul li.selected, footer ul li.selected {
	background-color: rgba(255,255,255,.2);
}
nav ul li a {
	padding: 14px 20px;
	display: block;
}

header.info ul li{
    list-style: none;
    display: inline;
}
header.info ul li:after {
	content: " \a0 | \a0 ";
}
header.info ul li:last-child:after {
	content: "";
}
header.info ul {
    list-style: none;
    display: inline;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #A4A;
}
a:hover {
    text-decoration: underline;
	color: #8833DD;
}
a.link {
    color:#000000;
}

h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}

div.businesscard {
	width: 38%;
	float: left;
}

div.siteheader {
	height: 1%;
	overflow: hidden;
	padding-top: 60px;
	padding-bottom: 10px;
	background-color: #8833DD;
	color: whitesmoke;
}

div.container {
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 20px;
}

div.siteheader a {
	color: #BAF;
}
div.siteheader a:hover {
	color: whitesmoke;
}

h3 {
    font-size: 1.2em;
}
p {
    font-size: 1.1em;
    line-height: 1.3em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
	margin-top: 0em;
	margin-bottom: 1em;
}

footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}

.section1 { width: 48%; float:left;  position: relative;}
.section2 { width: 48%; float:right;  position: relative;}

div.spacer {
	padding: .4%;
}
div.project-category {
	background-color: #DDAAFF;
	box-sizing: border-box;
	padding: .8%;
	min-width: 48.4%;
	margin: .8%;
	max-width: 561px;
	float: left;
}
div.project-category:nth-child(odd) {
	float: right;
}
div.project-category h3 {
	margin-top: 0px;
	color: #8833DD;
	text-align: center;
}
div.project-category p {
	font-size: 1em;
}
div.project-category ul {
	margin: 0px;
	padding: 0px;
}
div.project-category ul li {
	display: block;
	padding: .8%;
	margin: .8%;
	background-color: rgba(255,255,255,0.2);
}
div.project-category ul li:hover {
	background-color: rgba(255,255,255,0.4);
}
div.project-category ul li a {
	font-weight: bold;
	margin-left: 10px;
	font-size: 1.2em;
}
div.project-category ul li p, div.project-category ul li p a {
	margin-left: 0px;
	font-size: 1em;
}
div.project-category a {
	
}