<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/main.css">
<script type="text/javascript">
	window.onload = function() {
		//prevent transitions from playing on load, but reenable them afterwards
		var body = document.getElementsByTagName("body")[0];
		body.className = body.className.replace("preload", "");
		
		//highlight the nav bar item corresponding to the current page
		var nav_sections = ["about", "research", "projects"];
		var nav_id = "nav-home"
		var nav_sections = document.getElementsByTagName("nav")[0].children[0].children
		for(var i = nav_sections.length - 1; i >= 0; i--) {
			if(window.location.pathname.match("^" + nav_sections[i].children[0].pathname)) {
				nav_sections[i].className = "selected";
				return;
			}
		}
	};
</script>
</head>
<body class="preload">
<div class="siteheader">
	<div class="container">
		<div class="businesscard">
			<h2>Rafael Lizarralde &nbsp; | &nbsp; <i>rezecib</i></h2>
			<header class="info">
				<ul>
					<li><a href="mailto:rezecib@gmail.com">email</a></li>
					<li><a href="https://github.com/rezecib">github</a></li>
					<li><a href="https://www.linkedin.com/in/rafael-lizarralde-97015445">linkedin</a></li>
					<li><a href="/files/ResumeRafaelLizarralde.pdf">resume</a></li>
				</ul>
			</header>
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/projects">Projects</a></li>
			</ul>
		</nav>
	</div>
</div>
<div class="container">
<div class="spacer"></div>

{{ content }}

</div>
</body>
</html>